/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
}

.modal-detail {
  grid-template-rows: 100px 1fr 1fr 1fr;
  height: 15rem;
  width: 36rem;
  padding: 11px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-right: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close-detail {
  justify-self: end;
  position: absolute;
}

.display-menu-small-todo {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr 50px 50px;
}

.display-menu-small-notes {
  grid-template-rows: 50px 1fr 50px;
}

.display-menu-small-notes #input-description {
  resize: none;
  border: none;
}

.bottom-btn-note-submit {
  display: flex;
  justify-content: end;
}

.title-input {
  grid-column: 1 / -1;
}

.bottom-btn-todo-date {
  display: flex;
  align-items: center;
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  gap: 10px;
}

.date-button {
  padding: 9px 37px;
}

.bottom-btn-todo-prio,
.bottom-btn-todo-subm {
  grid-row: 4 / 5;
  display: flex;
  align-items: center;
}

.bottom-btn-todo-prio {
  gap: 10px;
  padding: 11px 0px;
}

.bottom-btn-todo-prio button {
  padding: 8px 15px;
}

.bottom-btn-todo-subm {
  justify-content: flex-end;
  padding: 7px 0px;
}

#submit-note,
#submit-todo {
  padding: 15px 32px;
}

.detail-title {
  grid-row: 1 / 2;
  align-self: center;
  font-size: 2rem;
  font-weight: 600;
}

.detail-content {
  font-size: 1.3rem;
}

.detail-content::first-line {
  font-weight: 600;
}

  /* Hide the default checkbox */
input[type="radio"] {
  display: none;
}

/* Style the label to look like a button */
label.radio-button {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  user-select: none;
}

/* Style the label to look like a button when the checkbox is checked */
input[type="radio"]:checked + label.radio-button {
  background-color: blueviolet
}